/* Career Section */
.career-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.career-text {
  padding-top: 100px;
  flex: 1;
  font-family: "Inter", sans-serif;
  line-height: 1.6;
}

.career-text h2 {
  font-size: 19px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 20px;
  color: white;
}

.career-text p {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 250;
  width: 100%;
}

.career-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.career__about__hero__img {
  width: 100%;
  min-width: 800px;
  max-width: 1000px;
  border-radius: 8px;
  object-fit: cover;
  object-position: top left;
}
/* Footer Section */

.career-footer-line {
  flex: 2;
  height: 1px;
  background-color: black;
}

@media (max-width: 1280px) {
  .career-content {
    position: relative;
    /* background: rgba(0, 0, 0, 0.5); */
  }

  .career-text {
    max-width: 100%;
    text-align: left;
    position: relative;
    z-index: 2;
    padding: 5px;
    border-radius: 10px;
  }

  .career__about__hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.4;
  }
}
