/* Career Section */
.career-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
}

.career-text {
  padding-top: 100px;
  flex: 1;
  line-height: 1.6;
}

.career-text h2 {
  font-size: 18px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 20px;
  color: white;
}

.career-text p {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 250;
  width: 100%;
}

.career-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.career__about__hero__img {
  width: 100%;
  min-width: 1900px;
  max-width: 1000px;
  border-radius: 8px;
  object-fit: contain;
  object-position: top left;
  opacity: 0.2;
}

@media (max-width: 1280px) {
  .career-content {
    position: relative;
  }

  .career-text {
    max-width: 100%;
    text-align: left;
    position: relative;
    z-index: 2;
    padding: 5px;
    border-radius: 10px;
  }

  .career__about__hero__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.4;
  }
}

@media (max-width: 768px) {
  .career-text h2 {
    font-size: 14px;
  }

  .career-text p {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 250;
    padding-right: 5px;
  }
}
