.blog-article {
  padding: 40px 20px;
  max-width: 800px;
  margin: 0 auto;
  color: white;
}

.blog-article h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #e63946;
}

.blog-article p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.blog-article h2 {
  font-size: 1.6rem;
  line-height: 1.6;
}

.styled-blockquote {
  font-size: 1.2rem;
  border-left: 2px solid white; /* Black vertical line */
  padding-left: 16px; /* Space between the line and the text */
  font-style: italic; /* Optional for a classic blockquote look */
  color: #ffffff; /* Text color */
  margin: 20px 0; /* Add vertical spacing */
}

@media (max-width: 1280px) {
  .blog-article h1 {
    font-size: 2rem;
  }
  .blog-article h2 {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  .blog-article p {
    font-size: 1.2rem;
  }
  .styled-blockquote {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .blog-article h1 {
    font-size: 1.5rem;
  }

  .blog-article h2 {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  .blog-article p {
    font-size: 1rem;
  }
  .styled-blockquote {
    font-size: 1rem;
  }
}
