.navbar {
  min-height: 6.5vh;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  /* z-index: 3; */
  font-weight: 500;
  background-color: #151414;
  z-index: 99999;
}

.logo {
  object-fit: cover;
  width: 2.5rem;
}

.menu {
  list-style: none;
  display: flex;
  gap: 80px;
  margin: 0;
  padding: 0;
}

.menu-item {
  position: relative;
  color: white;
}

.menu-item a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.menu-item a:hover {
  background-color: #444;
}

.desktopMenuBtn {
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.7rem;
  transition: transform 0.3s, box-shadow 0.3s;
}

.desktopMenuBtn a {
  color: black;
  font-weight: 500;
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

.desktopMenuBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.desktopMenuBtn:hover a {
  color: #c91919; /* Change color to red on hover */
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    min-height: 6.5vh;
  }

  .logo {
    width: 2rem; /* Adjust logo size */
    margin-bottom: 0;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: auto; /* Adjust width to fit content */
    position: absolute;
    top: 60px; /* Position directly under the hamburger icon */
    right: 20px; /* Align to the right */
    background-color: transparent; /* Remove background color */
    z-index: 1001;
  }

  .menu.open {
    display: flex;
  }

  .menu-list {
    background-color: #444;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-center; /* Align items to the left */
    list-style: none; /* Remove the dot in front of the list items */
    padding: 10px 10px;
    margin: 0;
    border-radius: 8px;
    text-align: center;
    gap: 8px;
  }

  .menu-item {
    width: 100%;
    background-color: #222;
    border-radius: 4px;
    border-bottom: 1px solid transparent;
  }

  .menu-item a {
    font-size: 1rem;
    text-align: center;
    width: 100%; /* Ensure full width */
    display: block; /* Ensure block display */
  }

  .menu-item:hover {
    border-bottom: 1px solid #444;
  }

  .hamburger {
    display: flex;
    align-items: center;
  }

  .hamburger-icon {
    width: 25px;
    height: 25px;
  }

  .desktopMenuBtn {
    display: none; /* Hide the Send a Mail button on mobile */
  }
}

/* Desktop styles */
@media (min-width: 769px) {
  .hamburger {
    display: none; /* Hide the hamburger icon on desktop */
  }

  .menu {
    display: flex; /* Ensure the menu is displayed */
  }

  .menu-list {
    display: flex; /* Ensure the menu items are displayed horizontally */
    flex-direction: row; /* Align items horizontally */
    align-items: center;
    list-style: none; /* Remove the dot in front of the list items */
    padding: 0;
    margin: 0;
  }

  .menu-item {
    margin: 0 10px;
  }

  .menu-item a {
    font-size: 1rem;
    text-align: center;
    width: auto;
    display: inline-block;
  }

  .desktopMenuBtn {
    display: flex; /* Show the Send a Mail button on desktop */
  }
}
